* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body{
    background-image: url(img/neon-cyclone.jpg);
}

header{
    width: 900px;
    height: 190px;
    border: 2px solid rgb(198, 255, 41);
    margin: 0 auto;
    margin-top: 10px;
    background-image: url(img/header.jpg);
}

header > section{
    float: left;
    width: 130px;
    height: 160px;
    border: 2px solid #000;
    margin: 7px 0 0 9px;
    background-image: url(img/ed-elric.jpeg);
    background-size: 130px 160px;
    border-radius: 25px;
}

header > nav{
    float: right;
    margin: 7px 9px 0 0;
    width: 435px;
    height: 45px;
    border: 2px solid #000;
    background-color: rgb(198, 255, 41);
    font-size: 25pt;
    text-align: center;
    border-radius: 25px;
}

#nav1{
    float: left;
    width: 49%;
    height: 90px;
    border: 2px solid #000;
    margin: 0 auto;
    background-color: rgb(198, 255, 41);
}

#nav2{
    float: right;
    width: 49%;
    height: 90px;
    border: 2px solid #000;
    margin: 0 auto;
    background-color: rgb(198, 255, 41);
}

nav > ul > li {
    display: inline;
    margin-left: 100px;

}

nav > ul > li > a{
    line-height: 90px;
    padding: 5px;
    font-size: 18pt;
    transition: all, 0.3s;
}

nav > ul > li > a:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    transition: all, 0.3s;
}


#navSec{
    width: 900px;
    height: 90px;
    margin: 0 auto;
    margin-top: 10px;
    border: 0px solid #000;
}


main{
    width: 900px;
    height: 450px;
    border: 0px solid #000;
    margin: 0 auto;
    margin-top: 15px;
}

#aside1{
    float: left;
    width: 215px;
    height: 450px;
    border: 2px solid #000;
    margin: 0 auto;
    background-color: rgb(198, 255, 41);
}

aside > section{
    width: 190px;
    height: 190px;
    border: 0px solid #000;
    margin: 10px;
}



#aside2{
    float: right;
    width: 215px;
    height: 450px;
    border: 2px solid #000;
    margin: 0 auto;
    background-color: rgb(198, 255, 41);
    padding: 0px 0 0 0;
}

article{
    float: left;
    width: 435px;
    height: 450px;
    border: 2px solid #000;
    margin-left: 12px;
    background-color: rgb(198, 255, 41);
}

#sec1{
    float: left;
    width: 199px;
    height: 125px;
    border: 0px solid #000;
    margin: 10px 0 0 10px;
}

#sec2{
    float: left;
    width: 199px;
    height: 125px;
    border: 0px solid #000;
    margin: 10px 0 0 10px;
    background-image: url(img/amestris-map.jpg);
    background-size: 199px;
}

#sec3{
    float: left;
    width: 412px;
    height: 85px;
    border: 0px solid #000;
    margin: 10px 0 0 10px;
}

#sec4{
    float: left;
    width: 199px;
    height: 125px;
    border: 0px solid #000;
    margin: 10px 0 0 10px;
    background-image: url(img/roy-mustang.jpg);
}

#sec5{
    float: left;
    width: 199px;
    height: 125px;
    border: 0px solid #000;
    margin: 10px 0 0 10px;
}

footer{
    width: 900px;
    height: 120px;
    border: 2px solid #000;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(198, 255, 41);
    background-image: url(img/japan-footer.png);
    background-size: 900px 120px;
}